@import 'public.less';
*{
	font-size:12px;
}
.maxImg{
	width:100%;height:100%;
}
//公用的头部
.zh_header{
	height:245px;
}
// 九宫格展示
.zhGrid{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	.zhGrid-Item{
		width:25%;
	}
}